fastapi[standard]
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
firebase-admin
bcrypt
python-multipart
python-dotenv
loguru
pytest
httpx
PyMuPDF
pdfplumber
python-docx
spacy
nltk
scikit-learn
pandas
numpy
fpdf
# AI Phase
sentence-transformers>=3.0.1
torch>=2.6.0
google-generativeai>=0.7.2
ics>=0.7.2
slowapi>=0.1.9
psycopg2-binary
black
isort
mypy
flake8
